DB_MCP_ENGINE=sqlserver
DB_MCP_CONNECTION_STRING=
DB_MCP_HOST=localhost
DB_MCP_PORT=1433
DB_MCP_DATABASE=
DB_MCP_USER=
DB_MCP_PASSWORD=
DB_MCP_SCHEMA=dbo
DB_MCP_SSL=false
DB_MCP_TRUST_SERVER_CERTIFICATE=true
DB_MCP_SQLITE_PATH=
