<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\PROGRA~1\nodejs\node.exe"
                  arguments="D:\hrms\node_modules\next\dist\bin\next start -H 127.0.0.1 -p %HTTP_PLATFORM_PORT%"
                  startupTimeLimit="120"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\node">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>